.header-block {
  background-image: url("../images/project-header-img.jpg");
  height: 699px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.main-content-section {
  width: 89.84%;
  background-color: #f9f9f9;
  margin: 0 auto;
  margin-top: 84px;
  display: flex;
  justify-content: center;
}

.main-content-section .products h1 {
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 0.7;
  color: #000000;
  padding-top: 84px;
}

.main-content-section .products p {
  margin: 0;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.3px;
  color: #000000;
  font-weight: 500;
  padding-top: 125px;
}

.main-content-section .products p:last-of-type {
  padding: 0;
  margin-bottom: 100px;
}

.products {
  width: 664px;
  padding-right: 27px;
}

.products img:not(:last-of-type) {
  padding-bottom: 15px;
}

.products img:last-of-type {
  padding-bottom: 64px;
}

.sidebar {
  width: 297px;
  padding-top: 64px;
  padding-left: 27px;
}

.social-networks-buttons {
  width: 1018px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 104px;
  margin-bottom: 73px;
}

.social-networks-buttons a {
  font-weight: lighter;
  text-decoration: none;
  font-size: 15px;
  color: #c0c0c0;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #c0c0c0;
  padding: 20px 89px;
  transition: 0.3s;
}

.social-networks-buttons a:hover {
  background-color: #777575;
}

@media screen and (max-width: 1024px) {
  .header-block {
    height: 350px;
  }
  .main-content-section {
    margin-top: 50px;
  }
  .products img {
    width: 100%;
  }
  .products {
    width: 55%;
    padding: 0;
  }
  .sidebar {
    width: 30%;
  }
  .sidebar img {
    width: 100%;
  }
  .social-networks-buttons {
    width: 90%;
    margin: 50px auto;
  }
}

@media screen and (max-width: 768px) {
  .social-networks-buttons a {
    padding: 15px 60px;
  }
  .main-content-section {
    margin-top: 0px;
  }
  .main-content-section .products p {
    padding-top: 80px;
    font-size: 18px;
    line-height: 1.9;
  }
  .sidebar {
    padding-left: 40px;
  }
}

@media screen and (max-width: 480px) {
  .header-block {
    height: 330px;
  }
  .social-networks-buttons {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .social-networks-buttons a {
    font-size: 13px;
    padding: 15px 20px;
  }
  .main-content-section {
    flex-direction: column;
    margin-top: 20px;
  }
  .products {
    width: 100%;
    padding-right: 0;
  }
  .main-content-section .products h1 {
    padding-top: 0;
    font-size: 30px;
  }
  .main-content-section .products p {
    padding-top: 36px;
    font-size: 15px;
  }
  .products img {
    width: 100%;
  }
  .products img:last-of-type {
    padding-bottom: 0px;
  }
  .main-content-section .products p:last-of-type {
    margin-bottom: 36px;
  }
  .sidebar {
    width: 100%;
    padding-left: 0;
    padding-top: 40px;
  }
  .sidebar img {
    width: 32.5%;
  }
}

@media screen and (max-width: 320px) {
  .header-block {
    height: 230px;
  }
  .social-networks-buttons a {
    font-size: 11px;
    padding: 10px 14px;
  }
  .sidebar img {
    width: 49%;
  }
  .main-content-section .products h1 {
    font-size: 25px;
  }
  .main-content-section .products p {
    font-size: 13px;
  }
}